body, html {
  height: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: medium;
 }

 * {
  box-sizing: border-box;
 }

.content-wrap {
  padding-bottom: 2.5rem;
  color: #ffff;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 20px;
  text-align: center;
}

nav {
  position: relative;
  height: 4.5rem;
  z-index: 3;
  background-color: #ffffffa4;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.13);
}

.sidenav {
  width: 200px;
  background-color: #ffffff98;
}

#bkg-img {
  position: relative;
  top: -4.5rem;
  background-position: center;
  padding: 6em 0;
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  filter: blur(3px);
  -webkit-filter: blur(2px);
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.1);
}

.masthead-heading {
  margin-top: -0.2em;
  font-size: 5em;
  font-weight: 300;
  letter-spacing: -0.02em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffffce;
  width: 100%;
}

#main-page-info > li > a,
#project-info-div > p > a {
  text-decoration: none;
  font-size: 1.1em;
  color: #ffffffce;
}

#main-page-info > li > a:hover,
#project-info-div > p > a:hover {
  text-decoration: underline;
}

#footer {
  position: relative;
  bottom: 8rem;
  width: 100%;
  text-align: center;
  background-color: #ffffffd5;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.13);
  text-decoration: none;
  padding: 1px;
}

#footer a {
  color: #ffffff;
}
.social > li {
  display: inline-block;
  margin: 0 5px;
}

.carousel .carousel-item>img {
  height: inherit;
}

.carousel .carousel-item {
  width: 300px;
  height: 300px;
  left: 0;
}

a.carousel-item {
  color:#ffffffce;
  font-size: 1.2em;
}

@media screen and (max-width: 600px) {
  .masthead-heading {
    font-size: 3em;
  }
}
